@font-face {
      font-family: "Play-Bold";
      src: url("../fonts/Play-Bold.ttf");
      font-style: bold;
      font-weight: 400;
  }
@font-face {
      font-family: "GothamPro";
      src: url("../fonts/GothamProMedium.ttf");
      font-style: italic;
      font-weight: 400;
  }
@font-face {
      font-family: "Quicksand-Bold";
      src: url("../fonts/Quicksand-Bold.ttf");
      font-style: bold;
      font-weight: 700;
  }
@font-face {
      font-family: "MyriadPro-Regular";
      src: url("../fonts/MyriadPro-Regular.ttf");
      font-style: normal;
      font-weight: 400;
}
  