<div class="about-me">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-6">
				<div class="row">
					<div class="col-sm-10">
						<div class="about-me__tagline">
							Я не использую черную магию в своей работе
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="about-me__titel">
							Обо мне
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-9 col-lg-12 col-xl-11">
						<div class="about-me__text">
							<p>
								Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
							</p>
							<p>
								Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
							</p>
							<p>
								Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-lg-12 col-xl-6">
						<div class="about-me__superiority">
							<img class="about-me__img" src="/assets/img/images/medal.png" alt="medal">Первая в своем роде
						</div>
					</div>
					<div class="col-sm-6 col-lg-12 col-xl-6">
						<div class="about-me__superiority">
							<img class="about-me__img" src="/assets/img/images/ball.png" alt="ball">Потомственная гадалка
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-10 col-md-8 col-lg-12">
						<a href="#" class="btn-link btn-link-about">ОСТАВИТЬ ЗАЯВКУ <img src="/assets/img/icons/btn-arrow.png" class="btn-link__arrow" alt="arrow"></a>
					</div>
				</div>
			</div>
			<div class="col-lg-6 d-none d-lg-block">
				<div class="outer-circle">
					<div class="inner-circle"></div>
				</div>
			</div>
		</div>
	</div>
</div>