<div class="footer">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-xl-8">
				<div class="footer__titel">
					Получи <span>бесплатную</span> консультацию
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-12 col-lx-8">
				<div class="footer__text">
					Оставь заявку в форме ниже, и получу бесплатную консультацию с Анной Малиновской.
				</div>
			</div>
		</div>
		<form class="contact-form">
			<div class="row justify-content-between">
				<div class="col-4">
		            	<input type="text"  class="contact-form__element" name="name" placeholder="Ваше имя*" required />
		        </div>
				<div class="col-4">
		            	<input type="tel" class="contact-form__element" name="tel" placeholder="Номер телефона*" required />
		        </div>
		            <!-- <label>
		            	<input type="checkbox" class="d-none contact-form__checkbox">
		            	<i class="contact-form__checked">
		            		Пользовательское соглашение
		            	</i>
		            </label> -->
	            <div class="col-3">
	            	<button class="contact-form__submit" type="submit">		Оставить заявку
	            	</button>
	            </div>
            </div>
		</form>
		<div class="row justify-content-center">
			<div class="col-12 col-sm-10 col-md-8 col-lg-6 col-lx-4">
				<a href="#" class="btn-link btn-link-form">ОСТАВИТЬ ЗАЯВКУ <img src="/assets/img/icons/btn-arrow.png" class="btn-link__arrow" alt="arrow"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-3 col-lg-2">
				<div class="name">
					Анна Малиновская
				</div>
			</div>
		</div>
		<div class="row justify-content-between">
			<div class="col-6 col-xl-2">
				<div class="footer__copyright">
					Copyright @2018
				</div>
			</div>
			<div class="col-6 col-md-4 col-lg-3 col-xl-2">
				<ul class="social">
					<li class="social__item">
						<a href="#" class="social__link">
							<img src="/assets/img/icons/facebook.png" class="social__icon" alt="">
						</a>
					</li>
					<li class="social__item">
						<a href="#" class="social__link">
							<img src="/assets/img/icons/twitter.png" class="social__icon" alt="">
						</a>
					</li>
					<li class="social__item">
						<a href="#" class="social__link">
							<img src="/assets/img/icons/pinterest.png" class="social__icon" alt="">
						</a>
					</li>
					<li class="social__item">
						<a href="#" class="social__link">
							<img src="/assets/img/icons/vimeo.png" class="social__icon" alt="">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>






