<div class="header">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-5 col-md-3 col-lg-2">
				<div class="header__logo">
					<img src="/assets/img/images/logo.png" class="logo" alt="logo">
					<div class="name">
						Анна Малиновская
					</div>
				</div>
			</div>
			<div class="col-5 col-sm-4 col-lg-3">
				<div class="tell">
					8 800 955 34 45
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-12 col-lg-11 col-xl-9">
				<div class="header__titel">
					ГАДАНИЯ
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-12 col-md-6">
				<div class="header__text">
					НА КАРТАХ, ВОДЕ, ДЫМЕ, РУКАХ И САПОГАХ
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-12 col-sm-10 col-md-8 col-lg-6 col-lx-4">
				<a href="#" class="btn-link">ОСТАВИТЬ ЗАЯВКУ <img src="/assets/img/icons/arrow.png" class="btn-link__arrow" alt="arrow"></a>
			</div>
		</div>
	</div>
</div>