<div class="documentation">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-sm-10 col-md-8">
				<div class="documentation__titel">
					документация для ознакомления
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-12 col-md-11 col-lg-8 col-xl-7">
				<div class="documentation__text">
					Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, 
				</div>
			</div>
		</div>
		<div class="row justify-content-around">
			<div class="col-12 col-sm-6 col-md-4 col-xl-3">
				<div class="card">
					<div class="card__certificate">
	            		<img src="https://www.ptsecurity.com/upload/corporate/ru-ru/licenses/License-5.jpg" class="card__foto">
	            	</div>
	        		<div class="card__certificate-description">
						Свдетельство о регистрации некоммерческой оргонизации
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-xl-3">
				<div class="card">
	            	<div class="card__certificate">
	            		<img src="https://www.ptsecurity.com/upload/corporate/ru-ru/licenses/License-5.jpg" class="card__foto">
	            	</div>
	        		<div class="card__certificate-description">
						Свдетельство о регистрации некоммерческой оргонизации
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-xl-3">
				<div class="card">
	            	<div class="card__certificate">
	            		<img src="https://www.ptsecurity.com/upload/corporate/ru-ru/licenses/License-5.jpg" class="card__foto">
	            	</div>
	        		<div class="card__certificate-description">
						Свдетельство о регистрации некоммерческой оргонизации
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	